.header {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    min-height: 80px;
    background-color: #BC2649;
}

.header .header-left{
    margin-right: auto;
}
.header .header-right{
    display: flex;
    justify-content: right;
}

a, a:-webkit-any-link {
    text-decoration:none;
  }

@media screen and (max-width: 768px){
    #logo-heading{
        display: none !important;
    }
}

@media screen and (max-width: 420px){
    #submission-btn{
        display: none !important;
    }
    #nav-menu{
        display: inline-block !important;
    }
}